[run]
source = nawal
omit =
    nawal/api_server.py
    nawal/blockchain/*
    nawal/cli/*
    nawal/data/*
    nawal/integration/*
    nawal/monitoring/*
    nawal/security/*
    nawal/server/*
    nawal/client/data_loader.py
    nawal/client/domain_models.py
    nawal/client/model.py
    nawal/client/nawal_gpt.py
    nawal/client/train.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == '__main__':
    if TYPE_CHECKING:
    @abstractmethod
